<%- include('../partials/nav') %>

    <link rel="stylesheet" href="/stylesheets/sign-in.css">

    <h1>Create a new account</h1>

    <form action="/auth/sign-up" method="POST">
        Username:
        <input type="text" name="username" style="margin-left:20px;margin-bottom: 0.75rem;"/>
        <br>
        Password:
        <input type="password" name="password" style="margin-left:20px; margin-bottom: 0.75rem;"/>
        <br>
        Confirm Password:
        <input type="password" name="confirmPassword" style="margin-left:20px; margin-bottom: 0.75rem;"/>
        <br>
        <div class="button">
        <button type="submit">Sign Up</button>
        </div>
    </form>

    </body>

    </html>