<%- include('../partials/nav') %>
    
<link rel="stylesheet" href="/stylesheets/sign-in.css">
    <h1>Sign In</h1>
    <form action="/auth/sign-in" method="POST">
        Username:
        <br>
        <input type="text" name="username" class="input" />
        <br>
        <br>
        Password:
        <br>
        <input type="password" name="password" class="input" />
        <br>
        <br>
        <div class="button">
            <button type="submit" style="margin-left:4rem">Sign In</button>
        </div>
    </form>
    </body>

    </html>