<%- include('./partials/nav') %>

    <h1><%= user.username %>'s dashboard</h1>
    <br>
   <div>
    <% if (recipe.ownerId.equals(user._id)){ %>
        <% console.log('hi') %>
    <% } %>
   </div>
</body>
</html>