<%- include('../partials/nav') %>

    <h1>All Recipes</h1>
    <div class="rec-container">
        <% allRecipes.forEach((recipe) => { %>
            <div class="recipe-box">
                <h2><%= recipe.recipeName %></h2>
                <a href="/recipes/<%= recipe._id %>">See more</a>
            </div>
        <% }) %>
    </div>
</body>
</html>